.nav-bar {
    background-color: #3f51b5;
    padding-left: 1em;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.nav-bar li {
    padding: 0.5em 1em;
    
}
.nav-bar a:hover {
    color: white;
}
.nav-bar a {
    color: white;
}